@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav {
        background-color: #cccccc;
        margin: 0 0 0 0;
    }


    nav button { display:none; }  /* hamburger button does not need to be shown */

    nav ul {
        margin-left: 0;
    }
    nav ul li {
        float: left;
    }
    
    nav ul.hide {
        display: block;
    }
    
    nav ul li a {
        padding: .9rem 1rem;

    }

    nav ul li#active a {background-color: rgba(0,0,0,.4);color: #fff;}

    nav ul li a:hover {
        color: white; background-color: #794A18;}

    article picture {float:right; }  /* responsive images */

    .container {
        display: inline-flex;
        flex-direction: row;
    }

    .wrapper {
        flex-grow: inherit;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
    }

}